body {
    background-color: rgb(216, 216, 216);
  }
/* Text formatting */
  h1 {
    color: navy;
    margin-left: 12px;
    font:Helvetica
  }
  h2 {
    color: navy;
    margin-left: 25px;
    font-size: medium;
    font:Helvetica
  }
  p {
    color: navy;
    font-size: 16px;
    margin-left:12px;
    font:Helvetica
  }

  #p2 {
    color: navy;
    font-size: 32px;
    margin-left:12px;
    font:Helvetica
  }
/* Formatting example thumbnail from landing page */
  #exampleimage {
    /* Positioning */
    float: left;
  
    /* Box-model */
    width: 444px;
    height: 333px;
  }

  #pageimage {
    /* Positioning */
    float: left;
  
    /* Box-model */
    width: 650px;
    height: 450px;
  }
/* Figure formatting */
  em {
    color: navy;
    font-size: 20px;
    margin-left: 24px;
    margin-top: 24px;
    font:Helvetica
  }

  .figure {
      height: 10px;
      width: 100%;
    }
  }

  figcaption {
    color: navy;
    font-size: 32px;
    margin-left:40px;
    margin-top:32px;
  }

  body
  {
      font-family: 'Helvetica', Sans-Serif;
      color: #000000;
      font-size: 9pt;
      background-color: rgb(148, 148, 255);
  }

  /* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: right;
    display: inline-block;
    margin-right: 5px;
  }
  
  /* Dropdown Content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

#image-area {
    width: 100%;
    padding: 30px 30px 43px;
    margin-top: 32px;

}


.image-photo {
  width: 200px;

  height: 200px;


}#images {

  padding-top: 15px;

  text-align: center;
}

/* Grid formatting for comparisons */
.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .row .column-2 {
    width: 100%;
  }

  .row img {
    width: calc(100% - (20px * 2));
    margin: 20px;
  }
  


